
body {
    background-color: bisque;
}
h1{
    text-align: center;
    font-size: 60px;
}
.score-header{
    display: flex;
    flex-direction: row;
}
h3{
    font-size: 30px;
    margin-left: 50px;
}
#refresh{
    margin: 40px;
     box-shadow: 5px 4px;
     padding: 10px;
}

li{
    border: 1px solid black;
    list-style: none;
}
li:nth-child(2) {
  background: grey;
}
li:nth-child(4) {
background: grey;
}

li:nth-child(6) {
background: grey;
}

li:nth-child(8) {
  background: grey;
}
li:nth-child(10) {
 background: grey;
}
.section{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10em;
}
input {
  width: 400px;
  height: 40px;
  border: black 3px solid;
  font-size: 20px;
}
h4{
     font-size: 30px;
}

#submit {
     box-shadow: 5px 4px;
     padding: 10px 30px;

}