
body {
  background: url('./modules/leaderboard.png')
}

h1 {
  text-align: center;
  font-size: 60px;
}

.score-header {
  display: flex;
  flex-direction: row;
}

h3 {
  font-size: 40px;
  margin-left: 50px;
  margin-left: 160px;
}

#refresh {
  margin: 40px;
  box-shadow: 5px 4px;
  padding: 10px;
  margin-left: 50px;
  border-radius: 12px;
  font-size: 20px;
  background-color: rgb(64, 10, 134);
  color: white;
}

li {
  border: 2px solid rgb(12, 56, 73);
  list-style: none;
  color: rgb(8, 7, 7);
   background: rgb(153, 128, 224);
   padding: 8px;
   font-size: 20px;
   margin-left: 100px;


}

/* li:nth-child(2) {
  background: grey;
} */

.section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10em;
}

input {
  width: 400px;
  height: 40px;
  border: rgba(72, 22, 151, 0.596) 3px solid;
  font-size: 20px;
}

h4 {
  font-size: 40px;
}

#submit {
  box-shadow: 5px 4px;
  padding: 10px 30px;
  border-radius: 12px;
  font-size: 20px;
  background-color: rgb(64, 10, 134);
  color: white;
}
